@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
.form{
  border:2px solid white;
  border-radius: 15px;
  background-color: rgb(16, 237, 245);
  width:50%;
  margin-left: 25%;
  font-family: 'Quando', serif;
  height: 100%;
}
.label{
  padding: 10px;
  margin: 10px;

}
.input{
margin-left: 20px;
padding: 5px 10px; 
}
textarea{
  resize: none;
}
.submitBtn{
  border: 1px solid white;
  border-radius: 6px;
  padding: 4px 10px;
  background-color: black;
  color: aliceblue;
  margin-left: 30%;
  margin-bottom: 20px;

}
.showTrn{
   border: 1px solid white;
  border-radius: 6px;
  padding: 4px 10px;
  background-color: black;
  color: aliceblue;
  /* margin-left: 50%; */
  margin-bottom: 20px;
  margin-left: 15px;

}

.cross{
  font-weight: 900;
  font-size: 15px;
  color: red;
  border: 1px solid;
  border-radius: 600px;
}