.pagination{
text-align: center;
}

.page{
  border:1px solid;
  border-radius: 1px;
  padding: 12px 15px;
  color: black;
  background-color: white;
  margin-left: 10px;
}

.active{
   border:1px solid;
  border-radius: 1px;
  padding: 14px 18px;
  color:white;
  background-color:black;
  margin-left: 10px;
}