@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');


.details{
  background-color: rgb(110, 172, 223);
  /* margin-top: 30px; */
}
table{
  border:2px solid rgb(49, 49, 49);
  margin: 3%;
  font-family: 'Quando', serif;
  color: rgb(0, 0, 0);

  
}
thead{
border:1px solid rgb(49, 49, 49);
background-color: rgb(252, 252, 252);
}
tbody{
border:1px solid rgb(49, 49, 49);
}
tr,th{
border:2px solid rgb(49, 49, 49);
color: black;
}
td{
  border: 1px solid rgb(49, 49, 49) ;
padding: 5px 5px;
color: black;
}
.createBtn{
  margin-top: 10px;
   border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  padding: 4px 10px;
  /* background-color: rgb(51, 42, 42); */
  color: rgb(255, 255, 255);
  margin-left: 45%;
  margin-bottom: 20px;

}
