.title{
  display: flex;
  justify-content: center;
  margin: 3%;
}
.table{
  border:2px solid black;
  margin-left: 7%;
  
}
.tr{
border:1px solid black;

}
.td{
  border: 2px solid black ;
padding: 5px 5px;
}