@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");

.container {
  border: 2px solid rgb(49, 49, 49);
  border-radius: 20px;
  margin: 3%;
  margin-top: 70px;
  padding: 20px 25px;
  font-family: "Quando", serif;
  color: rgb(0, 0, 0);
}
h2 {
  text-align: center;
}
img {
  margin-top: 20px;
  margin-bottom: 10px;
}

.ViewBtn {
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  padding: 4px 10px;

  background-color: rgb(51, 42, 42);

  color: rgb(255, 255, 255);
  margin-left: 45%;
  margin-bottom: 20px;
}

label {
  margin-top: 20px;
  padding: 20px;
}

span {
  margin-left: 15px;
  color: brown;
}
